@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Krub';
    src: url(./assets/font-family/Krub-Regular.ttf);
}
@font-face {
    font-family: 'Rubik';
    src: url(./assets/font-family/Rubik-Regular.ttf);
}

.headerContent{
    font-family: 'Krub';
    text-shadow: 0 0 4px #00000040, 0 0 4px #00000040;
}
.nav-link,button,span{
    font-family: 'Krub';
}
h2,p{
    font-family:'Rubik' ;
}

.heroSection{
    background-image: url(./assets/images/heroImage.png);
    background-repeat: no-repeat;
}
.sectionHeading{
    font-family: 'Rubik';
    border-image: linear-gradient(#FFB629 100%,#FFDA56 100%, #FFD7A6 100%) 1;
}
.whyUsBackground{
    background: linear-gradient(0deg, rgba(9,18,66,1) 0%, rgba(9,18,66,0) 90%);
    height: 52vh;
    width: 100%;
}
.whyUsWrapper{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 60%;
    bottom: -80%;
    background-color: white;
}

@media only screen  and (max-width: 1920px){
    .mainWrapper{
        margin: auto;
        max-width: 1200px;
    }
}
@media only screen  and (max-width: 1600px){
    .whyUsWrapper{
        width: 70%;
        bottom: unset;
        top: 80%;
    }
}
@media only screen  and (max-width: 1280px){
    .whyUsWrapper{
        width: 80%;
        bottom: unset;
        top: 80%;
    }
}
@media only screen  and (max-width: 1100px){
    .whyUsWrapper{
        width: 90%;
        bottom: unset;
        top: 75%;
    }
}
@media only screen  and (max-width: 800px){
    .mainWrapper{
        margin: auto;
        padding: 0 28px;
        max-width: 800px;
    }
}